body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    background: aqua;
}
a {
    text-decoration-line: none;
    color: blue;
}